@{
    ViewBag.Title = "Home Page";
}

<h1>Welcome to Jiraiya! A simple and effective way to track your Projects, Sprints, and Issues</h1>

<div class="row">
    <div class="col-md-4">
        <h2>Projects</h2>
        <p>
            Jiraiya gives you the ability to create your own Projects which will be linked 
            to your account. Within those Projects, you can create Sprints and Issues to keep track
            of your progress. Furthermore, you can add other Users to your Project so that they can
            view the Sprints and Issues and create their own Issues.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Sprints</h2>
        <p>
            Jiraiya allows you to create Sprints with a Start Date and a Predicted End Date. Within
            those Sprints you can create Issues that any User on the project can see and decide to work on.
            Only one Sprint can be "Open" at a time.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Issues</h2>
        <p>
            Jiraiya allows you to create multiple Issues within a same Sprint. Each Issue has a name describing
            it as well as the ability to open or close it.
        </p>
    </div>
</div>

<div class="row">   
    <h1>More Features will be added!</h1>
</div>


@*<div class="jumbotron">
            <h1>ASP.NET</h1>
            <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
            <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
        </div>

        <div class="row">
            <div class="col-md-4">
                <h2>Getting started</h2>
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                </p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Get more libraries</h2>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Web Hosting</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>
        </div>*@
